In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('race_till_2023.csv')

In [7]:
df.describe(include='all')

,year,race,DriverNumber,BroadcastName,DriverId,FullName,TeamName,GridPosition,Position,ClassifiedPosition,Time,Status,Points
count,4061.000000,4061,4061.000000,2537,3982,4061,4061,3980.000000,3980.000000,3982,2026,3982,3982.000000
unique,NaN,41,NaN,37,56,58,21,NaN,NaN,26,1961,65,NaN
top,NaN,Hungarian Grand Prix,NaN,M VERSTAPPEN,bottas,Valtteri Bottas,Mercedes,NaN,NaN,R,0 days 01:25:16.938000,Finished,NaN
freq,NaN,204,NaN,127,196,200,400,NaN,NaN,609,2,2034,NaN
mean,2018.720758,NaN,26.764344,NaN,NaN,NaN,NaN,10.386683,10.668593,NaN,NaN,NaN,5.007408
std,2.874953,NaN,24.358405,NaN,NaN,NaN,NaN,5.934464,5.883255,NaN,NaN,NaN,7.237017
min,2014.000000,NaN,1.000000,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,NaN,NaN,0.000000
25%,2016.000000,NaN,9.000000,NaN,NaN,NaN,NaN,5.000000,6.000000,NaN,NaN,NaN,0.000000
50%,2019.000000,NaN,20.000000,NaN,NaN,NaN,NaN,10.000000,11.000000,NaN,NaN,NaN,0.000000
75%,2021.000000,NaN,33.000000,NaN,NaN,NaN,NaN,15.000000,16.000000,NaN,NaN,NaN,8.000000
max,2023.000000,NaN,99.000000,NaN,NaN,NaN,NaN,22.000000,22.000000,NaN,NaN,NaN,50.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4061 entries, 0 to 4060
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                4061 non-null   int64
 1   race                4061 non-null   object
 2   DriverNumber        4061 non-null   int64
 3   BroadcastName       2537 non-null   object
 4   DriverId            3982 non-null   object
 5   FullName            4061 non-null   object
 6   TeamName            4061 non-null   object
 7   GridPosition        3980 non-null   float64
 8   Position            3980 non-null   float64
 9   ClassifiedPosition  3982 non-null   object
 10  Time                2026 non-null   object
 11  Status              3982 non-null   object
 12  Points              3982 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 412.6+ KB

In [14]:
import fastf1
session = fastf1.get_session(2019, 'Monza', 'R')
session.load(telemetry=False, laps=True)
lap = session.laps.pick_fastest()
data = session.laps.get_weather_data()
data

core           INFO 	Loading data for Italian Grand Prix - Race [v3.4.0]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['16', '77', '44', '3', '27', '23', '11', '33', '99', '4', '10', '18', '5', '63', '7', '8', '88', '20', '26', '55']

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
33,0 days 00:33:33.841000,20.2,55.1,989.4,False,32.5,201,0.9
35,0 days 00:35:33.586000,20.4,54.3,989.4,False,32.3,198,2.2
36,0 days 00:36:33.879000,20.4,53.2,989.4,False,32.2,220,2.8
38,0 days 00:38:33.670000,20.5,52.6,989.4,False,32.9,206,3.1
39,0 days 00:39:33.667000,20.6,52.2,989.3,False,32.9,246,2.8
...,...,...,...,...,...,...,...,...
102,0 days 01:42:34.805000,22.0,48.8,988.9,False,32.9,175,1.6
103,0 days 01:43:34.522000,22.1,48.3,988.8,False,33.3,209,1.3
104,0 days 01:44:34.581000,22.1,48.4,988.8,False,33.6,215,2.1
106,0 days 01:46:34.544000,22.0,48.6,988.8,False,33.3,216,2.3
107,0 days 01:47:34.556000,22.0,48.8,988.7,False,32.8,210,2.6

In [11]:
data.describe()

/var/folders/h7/24ywb4t1079fb0sd4fmvs2kr0000gn/T/ipykernel_14010/3175101911.py:1: FutureWarning: The behavior of value_counts with object-dtype is deprecated. In a future version, this will *not* perform dtype inference on the resulting index. To retain the old behavior, use `result.index = result.index.infer_objects()`
  data.describe()

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
count,275,275.0,275.0,275.0,275,275.0,275,275.0
unique,39,12.0,28.0,8.0,1,22.0,31,22.0
top,0 days 00:58:14.672000,23.3,51.5,992.9,False,38.3,207,2.0
freq,15,50.0,40.0,94.0,275,36.0,23,31.0